/*********************/
/*  GENERAL CSS      */
/*********************/

:root {
    --main-color: rgb(74, 64, 99);
    --links-color: rgb(191, 172, 200);
    --links-hover-color: rgb(241, 217, 252);
    --highlights-color: rgb(67, 5, 126);
}

body {
    background: rgb(200, 198, 215);
    font-family: "Lora", serif;
}

.background {
    z-index: -1;
}

/*********************/
/*  BUTTONS          */
/*********************/

.btn {
    background-color: var(--links-color);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--links-hover-color);
    transform: scale(1.05);
}

.btn a {
    text-decoration: none;
    color: inherit;
}

/*********************/
/*  CARDS            */
/*********************/

.card-design {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(6.8px);
}

.inner-card-design {
    background: rgba(255, 255, 255, 0.20);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/*********************/
/*  HEADER           */
/*********************/

.logo {
    max-width: 100px;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.10);
}

.navbar {
    background-color: var(--main-color);
}

.navbar .nav-link {
    color: var(--links-color);
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}

.navbar .nav-link:hover {
    color: var(--links-hover-color) !important;
    transform: scale(1.05);
}

.navbar-toggler {
    background-color: var(--links-color);
    transition: 0.3s;
}

.navbar-toggler:hover {
    background-color: var(--links-hover-color);
}

.is-active {
    border-bottom: 2px solid var(--links-color);
}

.is-active:hover {
    border-bottom: 2px solid var(--links-hover-color);
}

/*********************/
/*  FOOTER           */
/*********************/

.footer {
    background-color: var(--main-color);
}

.social-icon {
    color: var(--links-color);
    font-size: 40px;
    transition: 0.3s;
}

.social-icon:hover {
    color: var(--links-hover-color) !important;
    transform: scale(1.10);
}

/*********************/
/*  HOME             */
/*********************/

.description {
    margin-top: 15rem;
}

@media (max-width: 576px) {
    .description {
        margin-top: 10rem;
    }
}

.description .main-text {
    font-size: 50px;
    font-weight: 900;
}

.description .main-text .name {
    color: var(--highlights-color);
}

.description .secondary-text {
    font-size: 30px;
}

.description-image {
    border-radius: 50%;
}

#typing-text {
    color: var(--highlights-color);
    font-weight: 700;
}

/*********************/
/*  ABOUT            */
/*********************/

.about {
    margin-top: 10rem;
}

.about .page-title {
    color: var(--highlights-color);
    font-weight: 900;
}

.about .description-card {
    min-height: 500px;
    max-height: 1250px;
}

.about .education-card {
    min-height: 500px;
    max-height: 1250px;
}

.about .inner-card {
    transition: 0.3s;
}

.about .description-card .inner-card:hover {
    transform: scale(1.025);
}

.about .education-card .inner-card:hover {
    transform: scale(1.05);
}

.about .description-card .arrow {
    color: var(--highlights-color);
}

.about .education-card .school-name {
    color: var(--highlights-color);
    font-weight: 600;
}

.about .first-paragraph {
    color: var(--highlights-color);
    font-size: 25px;
    font-weight: 700;
}

.about .paragraph {
    font-size: 17px;
}

/*********************/
/*  SKILLS           */
/*********************/

.skills {
    margin-top: 10rem;
}

.skills .page-title {
    color: var(--highlights-color);
    font-weight: 900;
}

.skills .inner-card {
    transition: 0.3s;
}

.skills .inner-card:hover {
    transform: scale(1.10);
}

.skills .card-title {
    color:var(--highlights-color);
    font-weight: 700;
}

.skills .inner-card .card-title {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 15px;
}

.skills .inner-card .img-fluid {
    max-width: 50px;
}
